@charset 'UTF-8';

/* Reset */
* {
    color: #333;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {text-decoration: none;}
a:link {color: #444;}
a:visited {color: #444;}
a:hover {color: #555;}
a:active {color: #555;}
img {vertical-align: middle;}
ul {list-style: none;}
/* Reset */

/* GuideLine */
/*div#wrap {border: 1px solid #000;}
header#header {border: 1px solid #000;}
div#logo {border: 1px solid #000;}
main#main {border: 1px solid #000;}
aside#aside {border: 1px solid #000;}
footer#footer {border: 1px solid #000;}*/
/* GuideLine */

/* div#wrap 시작 */
div#wrap {
    width: 1200px;
    margin: 0 auto;
}
/* div#wrap 끝 */


/* header#header 시작 */
header#header {
    height: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

    /* div#logo 시작 */
div#logo {
    width: 240px;
    text-align: center;
    padding-top: 24px;
}
    /* div#logo 끝 */

    /* nav#gnb 시작 */
nav#gnb {
    width: 900px;
    padding-top: 26px;
}
#gnb>ul {
    width: 567px;
    border: 1px solid #bbb;
    margin-left: 330px;
}
#gnb>ul::after {
    content: "";
    display: block;
    height: 38px;
}
#gnb>ul>li {
    float: left;
}

#gnb>ul>li:not(:first-child) {
    border-left: 1px solid #bbb;
}

#gnb>ul>li a {
    width: 140px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    padding: 6px 16px;
    display: inline-block;
}
#gnb>ul>li a:hover {
    background-color: #c8e9fd;
}
        /* subMenu 시작 */
#gnb .subMenu {
    background-color: #fff;
    border-bottom: 1px solid #bbb;

    display: none;

    position: relative;
    z-index: 1;
}
#gnb .subMenuFirst {
    border-left: 1px solid #bbb;
}
#gnb .subMenuLast {
    border-right: 1px solid #bbb;
}
#gnb .subMenu a {
    font-size: 17px;
}
        /* subMenu 끝 */
    /* nav#gnb 끝 */
/* header#header 끝 */


/* main#main 시작 */
    /* div#slideshow 시작 */
div#slideshow {
    width: 1200px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#main>#slideshow>div#shuttleFrame {
    width: 1200px;
    height: 300px;
}

#main #slideshow a {
    position: absolute;
}
#slideshow a:not(:first-child) {
    display: none;
}

#main #slideshow span.promotionTxt {
    width: 320px;
    font-size: 23px;
    font-weight: bold;
    line-height: 2em;
    text-align: center;
    padding: 8px;
    border-radius: 20px;

    background-color: rgba(255, 255, 255, 0.7);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
}
    /* div#slideshow 끝 */


    /* aside#aside 시작 */
aside#aside {
    height: 200px;
    display: flex;
}


/* 멀티탭 시작 */
/* 멀티탭 공통 */
div#tabArea {
    font-size: 15px;
    width: 400px;
    padding: 5px;
    margin: 10px;
}

button {
    font-size: 18px;
    font-weight: bold;
    padding: 4px 10px;
    border: 1px solid #aaa;
    border-bottom: none;
    margin-left: 30px;

    position: relative;
    top: 1px;
}

button:first-child {
    margin-left: 30px;
}

div#tabArea > div {
    padding: 24px 10px;
    border: 1px solid #aaa;

    display: inline-block;
}
/* 멀티탭 공통 작업 끝 */

/* 공지사항 영역 시작 */
#tabArea #tabContent1 #bbsNotice li:first-child span {
    cursor: pointer;
}
#tabArea #tabContent1 {
    padding: 6px 26px 6px 16px;
}

#tabArea #tabContent1 #bbsNotice > li {
    line-height: 32px;
}

#tabArea span:first-child {
    width: 230px;
    display: inline-block;
}
/* 공지사항 영역 끝 */

/* 갤러리 영역 시작 */
#tabArea #tabContent2 {
    text-align: center;
}
/* 갤러리 영역 끝 */

/* 멀티탭 클릭 기능 구현 시작 */
button:nth-child(2) {
    border: none;
    top: 0;
    left: -35px;
}

#tabArea #tabContent2 {
    display: none;
}
/* 멀티탭 클릭 기능 구현 끝 */
/* 멀티탭 끝 */


/* 레이어 팝업 시작 */
#aside .layerPoint {
    cursor: pointer;
}
#layerBG {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);

    display: none;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
#layerBG #layerPopup {
    width: 550px;
    height: 300px;
    padding: 20px;
    line-height: 35px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#layerBG #layerPopup button#closeBtn {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 14px;
    background-color: #ccc;

    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 220px;
}
        /* 레이어 팝업 끝 */

        /* 갤러리게시판 시작 */
#aside>div#bbs div#tabContents2 {
    text-align: center;
    padding: 4px 0;
    border: 1px solid #aaa;

    display: none;
}
#aside>#bbs #tabContents2 img {
    vertical-align: middle;
}

        /* 갤러리게시판 끝 */

    /* 멀티탭 bbs 끝 */


#aside>div#banner,
#aside>div#shortcut {
    width: 375px;
    position: relative;
}
#banner>img,
#shortcut>img {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
    /* aside#aside 끝 */

/* main#main 끝 */


/* footer#footer 시작 */
footer#footer {
    height: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
#footer>div#footerLogo {
    width: 300px;
    padding-top: 20px;
}
#footer>div#componyInfo {
    width: 700px;
}
#footer>#componyInfo li {
    padding-top: 10px;
    margin-right: 20px;
    float: left;
}

#footer #footerLNB {
    margin-bottom: 40px;
}

/* footer#footer 끝 */


/* IE9 버전 이하의 예전버전에서 실행되기 위한 소스 */
header, nav, footer, section,
main, article, aside {
    display: block;
}


